<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            {{ config.title }} - {{ page.title }}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <header>
        <div>
            <h1><a href="{{ get_url(path="@/_index.md") }}">{{ config.title }}</a></h1>
            <input type="checkbox" id="menu-toggle" class="menu-toggle" />
            <label for="menu-toggle" class="hamburger" aria-label="Menu">☰</label>
            <nav>
                {% for link in config.extra.menus.header_links %}
                    {% set url = get_url(path=link.url) %}
                    {% if url == current_url %}
                        {% set classes = "current" %}
                    {% else %}
                        {% set classes = "" %}
                    {% endif %}
                    <a href="{{ url }}" class="{{ classes }}">{{ link.name }}</a>
                {% endfor %}
            </nav>
        </div>
    </header>

    <main>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>

    <footer>
        <div class="container">
            <div><p>&copy; {{ config.extra.copyright_year }}–{{ now() | date(format="%Y") }} {{ config.extra.copyright_name }}</p></dev>
        </div>
    </footer>
</body>
</html>
