{% extends "base.html" %}

{% block title %}{{ config.title }} – {{ section.title }}{% endblock %}

{% block content %}
    {% set parts = section.content | split(pat="[split]") %}
    <section id="intro">
        {{ parts[0] | safe }}
    </section>

    <section id="lecturers">
        <div class="lecturers-container">
            {% set lecturers = get_section(path="lektori/_index.md")%}
            {% for slug in lecturers.extra.lecturers %}
                {% if slug != "" %}
                    {% set lecturer = get_page(path="lektori/" ~ slug ~ ".md") %}
                    {% set classes = "lecturer-card" %}
                {% else %}
                    {% set lecturer = load_data(literal='{
                        "title": "?",
                        "extra": {
                            "bio": "Brzy se dozvíte o dalších lektorech, kteří budou s námi spolupracovat."
                        }
                    }', format="json") %}
                    {% set classes = "lecturer-card placeholder" %}
                {% endif %}
                <div class="{{ classes }}">
                    <img class="photo" src="people/{{ slug }}.webp">
                    <div class="name">{{ lecturer.title | default(value="") }}</div>
                    <div class="bio">{{ lecturer.extra.bio | default(value="") }}</div>
                </div>
            {% endfor %}
        </div>
    </section>

    <section id="outro">
        {{ parts[1] | safe }}
    </section>

    <a class="action" href="{{ get_url(path="@/kurzy.md") }}">Prohlédnout katalog</a>
{% endblock %}
